version: '3.8'

services:
  # React Frontend Service
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend-app
    restart: unless-stopped
    ports:
      - "5000:5000"
    environment:
      - VITE_API_URL=http://<Your Machine IP>:3000 # Change to your backend API URL Like http://192.168.81.207:3000
    depends_on:
      - backend
    networks:
      - todo_network 

networks:
  todo_network:
    name: todo_network
    external: true